{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block title %}Blog - MatthewRaynor.com{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Blog</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-12 mb-4">
                {% if post.video %}
                    <div class="row">
                        <div class="col-md-6">
                            {% video post.video as myvideo %}
                            {{ myvideo }}
                        </div>
                        <div class="col-md-6">
                            <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                            <p>{{ post.content|truncatewords:30 }}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                            <p>{{ post.content|truncatewords:30 }}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
