{% extends "base.html" %}
{% block title %}{{ collection.name }} - MatthewRaynor.com{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>{{ collection.name }}</h2>
  {% if collection.cover_image %}
    <img src="{{ collection.cover_image.url }}" class="img-fluid mb-4" alt="{{ collection.name }}">
  {% endif %}
  <p>{{ collection.description }}</p>
  
  <hr>
  
  <h3>Artwork in this Collection</h3>
  <div class="row">
    {% for artwork in artworks %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if artwork.image %}
            <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ artwork.title }}</h5>
            <p class="card-text">${{ artwork.price }}</p>
            <a href="{% url 'product_detail' artwork.slug %}" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No artworks available in this collection.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
